.header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.title {
  font-size: 1.5rem;
}

.newTaskBtn {
  border: 2px solid grey;
  padding: 10px 20px;
  border-radius: 10px;
}

.list {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
